data.zip
chrome-win64/129.0.6668.58.manifest
chrome-win64/ABOUT
chrome-win64/chrome_100_percent.pak
chrome-win64/chrome_200_percent.pak
chrome-win64/chrome_elf.dll
chrome-win64/chrome_proxy.exe
chrome-win64/chrome_pwa_launcher.exe
chrome-win64/chrome_wer.dll
chrome-win64/chrome.dll
chrome-win64/chrome.exe
chrome-win64/D3DCompiler_47.dll
chrome-win64/dxcompiler.dll
chrome-win64/dxil.dll
chrome-win64/elevation_service.exe
chrome-win64/First Run
chrome-win64/icudtl.dat
chrome-win64/libEGL.dll
chrome-win64/libGLESv2.dll
chrome-win64/notification_helper.exe
chrome-win64/resources.pak
chrome-win64/setup.exe
chrome-win64/v8_context_snapshot.bin
chrome-win64/vk_swiftshader_icd.json
chrome-win64/vk_swiftshader.dll
chrome-win64/vulkan-1.dll
chrome-win64/MEIPreload/manifest.json
chrome-win64/MEIPreload/preloaded_data.pb
chrome-win64/PrivacySandboxAttestationsPreloaded/manifest.json
chrome-win64/PrivacySandboxAttestationsPreloaded/privacy-sandbox-attestations.dat
chrome-win64/hyphen-data/hyph-af.hyb
chrome-win64/hyphen-data/hyph-as.hyb
chrome-win64/hyphen-data/hyph-be.hyb
chrome-win64/hyphen-data/hyph-bg.hyb
chrome-win64/hyphen-data/hyph-bn.hyb
chrome-win64/hyphen-data/hyph-cs.hyb
chrome-win64/hyphen-data/hyph-cu.hyb
chrome-win64/hyphen-data/hyph-cy.hyb
chrome-win64/hyphen-data/hyph-da.hyb
chrome-win64/hyphen-data/hyph-de-1901.hyb
chrome-win64/hyphen-data/hyph-de-1996.hyb
chrome-win64/hyphen-data/hyph-de-ch-1901.hyb
chrome-win64/hyphen-data/hyph-el.hyb
chrome-win64/hyphen-data/hyph-en-gb.hyb
chrome-win64/hyphen-data/hyph-en-us.hyb
chrome-win64/hyphen-data/hyph-es.hyb
chrome-win64/hyphen-data/hyph-et.hyb
chrome-win64/hyphen-data/hyph-eu.hyb
chrome-win64/hyphen-data/hyph-fr.hyb
chrome-win64/hyphen-data/hyph-ga.hyb
chrome-win64/hyphen-data/hyph-gl.hyb
chrome-win64/hyphen-data/hyph-gu.hyb
chrome-win64/hyphen-data/hyph-hi.hyb
chrome-win64/hyphen-data/hyph-hr.hyb
chrome-win64/hyphen-data/hyph-hu.hyb
chrome-win64/hyphen-data/hyph-hy.hyb
chrome-win64/hyphen-data/hyph-it.hyb
chrome-win64/hyphen-data/hyph-ka.hyb
chrome-win64/hyphen-data/hyph-kn.hyb
chrome-win64/hyphen-data/hyph-la.hyb
chrome-win64/hyphen-data/hyph-lt.hyb
chrome-win64/hyphen-data/hyph-lv.hyb
chrome-win64/hyphen-data/hyph-ml.hyb
chrome-win64/hyphen-data/hyph-mn-cyrl.hyb
chrome-win64/hyphen-data/hyph-mr.hyb
chrome-win64/hyphen-data/hyph-mul-ethi.hyb
chrome-win64/hyphen-data/hyph-nb.hyb
chrome-win64/hyphen-data/hyph-nl.hyb
chrome-win64/hyphen-data/hyph-nn.hyb
chrome-win64/hyphen-data/hyph-or.hyb
chrome-win64/hyphen-data/hyph-pa.hyb
chrome-win64/hyphen-data/hyph-pt.hyb
chrome-win64/hyphen-data/hyph-ru.hyb
chrome-win64/hyphen-data/hyph-sk.hyb
chrome-win64/hyphen-data/hyph-sl.hyb
chrome-win64/hyphen-data/hyph-sq.hyb
chrome-win64/hyphen-data/hyph-sv.hyb
chrome-win64/hyphen-data/hyph-ta.hyb
chrome-win64/hyphen-data/hyph-te.hyb
chrome-win64/hyphen-data/hyph-tk.hyb
chrome-win64/hyphen-data/hyph-uk.hyb
chrome-win64/hyphen-data/hyph-und-ethi.hyb
chrome-win64/hyphen-data/manifest.json
chrome-win64/locales/af.pak
chrome-win64/locales/am.pak
chrome-win64/locales/ar.pak
chrome-win64/locales/bg.pak
chrome-win64/locales/bn.pak
chrome-win64/locales/ca.pak
chrome-win64/locales/cs.pak
chrome-win64/locales/da.pak
chrome-win64/locales/de.pak
chrome-win64/locales/el.pak
chrome-win64/locales/en-GB.pak
chrome-win64/locales/en-US.pak
chrome-win64/locales/es-419.pak
chrome-win64/locales/es.pak
chrome-win64/locales/et.pak
chrome-win64/locales/fa.pak
chrome-win64/locales/fi.pak
chrome-win64/locales/fil.pak
chrome-win64/locales/fr.pak
chrome-win64/locales/gu.pak
chrome-win64/locales/he.pak
chrome-win64/locales/hi.pak
chrome-win64/locales/hr.pak
chrome-win64/locales/hu.pak
chrome-win64/locales/id.pak
chrome-win64/locales/it.pak
chrome-win64/locales/ja.pak
chrome-win64/locales/kn.pak
chrome-win64/locales/ko.pak
chrome-win64/locales/lt.pak
chrome-win64/locales/lv.pak
chrome-win64/locales/ml.pak
chrome-win64/locales/mr.pak
chrome-win64/locales/ms.pak
chrome-win64/locales/nb.pak
chrome-win64/locales/nl.pak
chrome-win64/locales/pl.pak
chrome-win64/locales/pt-BR.pak
chrome-win64/locales/pt-PT.pak
chrome-win64/locales/ro.pak
chrome-win64/locales/ru.pak
chrome-win64/locales/sk.pak
chrome-win64/locales/sl.pak
chrome-win64/locales/sr.pak
chrome-win64/locales/sv.pak
chrome-win64/locales/sw.pak
chrome-win64/locales/ta.pak
chrome-win64/locales/te.pak
chrome-win64/locales/th.pak
chrome-win64/locales/tr.pak
chrome-win64/locales/uk.pak
chrome-win64/locales/ur.pak
chrome-win64/locales/vi.pak
chrome-win64/locales/zh-CN.pak
chrome-win64/locales/zh-TW.pak
chrome-win64/resources/accessibility/reading_mode_gdocs_helper_manifest.json
chrome-win64/resources/accessibility/reading_mode_gdocs_helper/content.js
chrome-win64/resources/accessibility/reading_mode_gdocs_helper/gdocs_script.js
chrome-win64.zip
